name: Quản Lý Thư Viện - Tự động Build & Test

on:
  push:
    branches: [ main, master, develop ]
  pull_request:
    branches: [ main, master, develop ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Cài đặt .NET SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x    # nếu bạn dùng .NET 6 thì đổi thành 6.0.x

      - name: Restore packages
        run: dotnet restore

      - name: Build dự án
        run: dotnet build --no-restore -c Release

      - name: Chạy toàn bộ Unit Test
        run: dotnet test --no-build -c Release --no-restore --verbosity normal
